# Git
.gitattributes export-ignore
.gitignore export-ignore

# EditorConfig
.editorconfig export-ignore

# NPM
package.json export-ignore
package-lock.json export-ignore

# Source files
/src export-ignore
